<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="App" class="container mt-5">
        <h1>{{ title }}</h1>

        <div>
            <input type="text" v-model='newFruit' @keyup.enter='addFruit'>
            <button @click='addFruit'>Add Fruit</button>
        </div>

        <ul>
            <li v-for='fruit of fruits'>
                <button @click='fruit.quantity--'>-</button>
                <button @click='fruit.quantity++'>+</button>
                {{ fruit.name }} - {{ fruit.quantity != 0 ? fruit.quantity : 'Out of stock' }}
            </li>
        </ul>

        <h4>TOTAL: {{ sumFruits }}</h4>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="01.js"></script>
</body>
</html>